.header__cols, .winners__cols { *zoom: 1; }
.header__cols:before, .winners__cols:before, .header__cols:after, .winners__cols:after { content: " "; display: table; }
.header__cols:after, .winners__cols:after { clear: both; }

@font-face { font-family: 'archiveregular'; src: url("../fonts/archive.eot"); src: url("../fonts/archive.eot?#iefix") format("embedded-opentype"), url("../fonts/archive.woff") format("woff"), url("../fonts/archive.ttf") format("truetype"), url("../fonts/archive.svg#archiveregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'helveticaneuecyrlight'; src: url("../fonts/helveticaneuecyr-light.eot"); src: url("../fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("truetype"), url("../fonts/helveticaneuecyr-light.svg#helveticaneuecyrlight") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'helveticaneuecyrultralight'; src: url("../fonts/helveticaneuecyr-ultralight.eot"); src: url("../fonts/helveticaneuecyr-ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-ultralight.woff") format("woff"), url("../fonts/helveticaneuecyr-ultralight.ttf") format("truetype"), url("../fonts/helveticaneuecyr-ultralight.svg#helveticaneuecyrultralight") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'helveticaneuecyrroman'; src: url("../fonts/helveticaneuecyr-roman.eot"); src: url("../fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman.svg#helveticaneuecyrroman") format("svg"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-size: 12px; font-family: 'helveticaneuecyrroman', arial, sans-serif; font-weight: normal; font-style: normal; line-height: 1.4; color: #3a3f3e; }

a img, fieldset { border: none; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header__in, .info__in, .get-started__in { margin: 0 auto; }

.btn { display: inline-block; background-color: #157dfb; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #157dfb), color-stop(100%, #157dfb)); background-image: -webkit-linear-gradient(top, #157dfb 0%, #157dfb 100%); background-image: -moz-linear-gradient(top, #157dfb 0%, #157dfb 100%); background-image: -o-linear-gradient(top, #157dfb 0%, #157dfb 100%); background-image: -ms-linear-gradient(top, #157dfb 0%, #157dfb 100%); background-image: linear-gradient(top, #157dfb 0%, #157dfb 100%); text-align: center; border: 0; font-family: 'helveticaneuecyrlight', arial, sans-serif; font-weight: normal; font-style: normal; color: #fff; font-size: 24px; text-decoration: none; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; background-repeat: repeat-x; padding: 10px 0; width: 100%; -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
.btn:hover, .btn:focus { background-image: none; cursor: pointer; text-decoration: none; background-color: #1470e0; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #157dfb), color-stop(100%, #1470e0)); background-image: -webkit-linear-gradient(top, #157dfb 0%, #1470e0 100%); background-image: -moz-linear-gradient(top, #157dfb 0%, #1470e0 100%); background-image: -o-linear-gradient(top, #157dfb 0%, #1470e0 100%); background-image: -ms-linear-gradient(top, #157dfb 0%, #1470e0 100%); background-image: linear-gradient(top, #157dfb 0%, #1470e0 100%); -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
.btn:active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn_mod { width: auto; padding: 8px 30px; }
@media only screen and (max-width: 768px) { .btn_mod { padding-left: 43px; padding-right: 43px; font-size: 18px; height: 38px; line-height: 37px; padding-top: 0; padding-bottom: 0; } }

.header { background: url("../img/back-big.png"); -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%; color: #fff; }

.header__in { padding: 10px; margin: 0 auto; }

.header__title { text-transform: uppercase; text-align: center; font-size: 33px; font-family: 'archiveregular', arial, sans-serif; font-weight: normal; font-style: normal; line-height: 1; margin-bottom: .5em; }

.header__subtitle { text-align: center; font-size: 32px; font-family: 'helveticaneuecyrlight', arial, sans-serif; font-weight: normal; font-style: normal; line-height: 1; margin-bottom: .6em; }

.header__left { float: left; width: 50%; }

.header__right { float: right; width: 30%; margin-right: 75px; padding-top: 22px; }

.header__image { padding-top: 30px; }
.header__image img { max-width: 100%; }

.header__text { text-align: center; margin-bottom: .2em; font-size: 50px; font-family: 'helveticaneuecyrultralight', arial, sans-serif; font-weight: normal; font-style: normal; line-height: 1; }

.header__timer { text-align: center; margin-bottom: 10px; }
.header__timer img { display: inline-block; max-width: 100%; }

.info { background: rgba(255, 255, 255, 0.45); padding: 10px 0; font-size: 18px; color: #3a3f3e; }

.info__row { border-bottom: 1px solid #3a3f3e; }

.info__in { text-align: center; padding: 0 10px; }

.info__description { margin-bottom: 15px; padding: 0 16%; }

.info__text { margin-top: 20px; font-size: 36px; font-family: 'helveticaneuecyrlight', arial, sans-serif; font-weight: normal; font-style: normal; }

.winners { background-color: #f6f5f1; }

.winners__in { padding: 20px 15px; }

.winners__title { text-align: center; margin-bottom: .7em; font-size: 28px; font-family: 'helveticaneuecyrlight', arial, sans-serif; font-weight: normal; font-style: normal; }

.winners__item { margin-bottom: 30px; display: inline-block; }
@media only screen and (min-width: 1020px) { .winners__item { width: 45%; display: inline-block; margin-right: 4%; } }

.winners__pic { float: left; margin-right: 30px; width: 97px; height: 74px; }
.winners__pic img { display: block; max-width: 100%; }
@media only screen and (max-width: 768px) { .winners__pic { margin-right: 11px; } }

.winners__info { overflow: hidden; padding-right: 20px; }

.winners__name { font-size: 24px; line-height: 1; padding-right: 20px; font-family: 'helveticaneuecyrlight', arial, sans-serif; font-weight: normal; font-style: normal; margin-bottom: .4em; }
@media only screen and (max-width: 768px) { .winners__name { font-size: 18px; } }

.winners__text { font-size: 14px; }
@media only screen and (max-width: 768px) { .winners__text { font-size: 12px; } }

.get-started { background-color: #434343; }

.get-started__in { padding: 13px 0; text-align: center; }

.get-started__left { display: inline-block; vertical-align: middle; font-size: 17px; margin-right: 35px; }
@media only screen and (max-width: 768px) { .get-started__left { display: none; } }

.get-started__go { display: inline-block; vertical-align: middle; }
.get-started__go i { margin-left: 40px; display: inline-block; vertical-align: middle; margin-top: -11px; background-image: url("../img/arrow2x.png"); width: 86px; height: 47px; width: 43px; height: 24px; margin-top: -4px; margin-left: 10px; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%; }
@media only screen and (max-width: 768px) { .get-started__go i { display: none; } }

.mb { display: none; text-align: center; color: #fff; line-height: 1.4; font-size: 14px; }
@media only screen and (max-width: 768px) { .mb { display: block; } }
.mb h3 { font-size: 18px; font-weight: normal; margin-bottom: 6px; }
.mb .mb__clock { width: 150px; display: inline-block; margin: 14px 0 5px 0; }
