// Normally mainpage styles
%site{
	//width: 1536px;
	margin: 0 auto;
}
body{
	@include respond-to(wide){
		background: #F6F5F1;
	}
}
.forweb{
	display: none;
	@include respond-to(wide){
		display: block;
	}
	@include respond-to(ipads){
		display: block;
	}
}
.formob{
	display: none;
	@include respond-to(mob){
		display: block;
	}
}
.debug{
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 20px;
// 	height: 20px;
// 	z-index: 1000;
// 	@include respond-to(mob){
// 		background: red;
// 	}
// 	@include respond-to(ipads){
// 		background: purple;
// 	}
// 	@include respond-to(wide){
// 		background: green;
// 	}
}
// *{
// 	border: 1px solid red;
// }
.btn{
	display: inline-block;
	background-color: #157dfb;
	@include background-image(linear-gradient(top, #157dfb 0%, #157dfb 100%));
	text-align: center;
	border: 0;
	@include hl;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	@include border-radius(7px);
	background-repeat: repeat-x;
	padding: 10px 0;
	width: 100%;
	@include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
	&:hover,
	&:focus{
		background-image: none;
		cursor: pointer;
		text-decoration: none;
		background-color: #1470e0;
		@include background-image(linear-gradient(top, #157dfb 0%, #1470e0 100%));
		@include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
	}
	&:active{
		background-image: none;
		outline: 0;
		@include box-shadow(
			inset 	0 2px 4px rgba(0, 0, 0, 0.15),
					0 1px 2px rgba(0, 0, 0, 0.05)
			);
	}
}
.btn_mod{
	@include respond-to(mob){
		padding-left: 43px;
		padding-right: 43px;
		font-size: 18px;
		height: 38px;
		line-height: 37px;
		padding-top: 0;
		padding-bottom: 0;
	}
	width: auto;
	padding: 8px 30px;
}
//header
.header{
	background: url('../img/back-big.png');
	@include background-size(100% 100%);
	color: #fff;
	@include respond-to(wide){
		width: 50%;
		float: left;
	}
}
.header__in{
	margin: 0 auto;
	@extend %site;
}
.header__title{
	text-transform: uppercase;
	text-align: center;
	font-size: 33px;
	padding-top: 10px;
	@include ar;
	line-height: 1;
	margin-bottom: .5em;
	@include respond-to(mob){
		font-size: 25px;
	}
}
.header__subtitle{
	text-align: center;
	font-size: 32px;
	@include hl;
	line-height: 1;
	margin-bottom: .6em;
	@include respond-to(mob){
		font-size: 21px;
		float: left;
		width: 50%;
		margin-left: 10px;
		line-height: 1.4;
		text-align: left;
		margin-bottom: 14px;
	}
}
.header__cols{
	@extend %clr;
}
.header__left{
	float: left;
	width: 50%;
	@include respond-to(wide){
		float: none;
		width: auto;
	}
	@include respond-to(mob){
		float: right;
		width: 38%;
		margin-right: 10px;
	}
}
.header__right{
	float: right;
	width: 30%;
	margin-right: 75px;
	position: relative;
	@include respond-to(wide){
		width: auto;
		float: none;
		clear:both;
		background: rgba(#fff , .45);
		margin: 0;
		padding: 12px 0 0 0;

	}
	@extend %clr;
	@include respond-to(mob){
		float: none;
		width: 55%;
		margin-left: 10px;
	}
	&:after{
		@include respond-to(wide){
			content: ' ';
			height: 1px;
			clear: both;
			display: block;
		}
	}
}
.header__image{
	padding-top: 30px;
	@include respond-to(wide){
		padding-top: 12px;
		margin: 0 50px;
	}
	@include respond-to(mob){
		padding-top: 0;
	}
	img{
		max-width: 100%;
	}
}
.header__text{
	text-align: center;
	margin-bottom: .2em;
	font-size: 50px;
	@include hul;
	line-height: 1;
	@include respond-to(wide){
		position: absolute;
		right: 50px;
		top: -60px;
	}
	@include respond-to(mob){
		display: none;
	}
}
.header__button{
	@include respond-to(wide){
		float: right;
		width: 40%;
		margin-top: 17px;
		margin-right: 5%;
	}
	@include respond-to(mob){
		display: none;
		
	}
}
.header__timer{
	@extend %clr;
	text-align: center;
	margin-bottom: 40px;
	@include respond-to(wide){
		float: left;
		width: 40%;
		margin-left: 4%;
	}
	@include respond-to(mob){
		clear: left;
	}
	img{
		display: inline-block;
		max-width: 100%;
	}

}
//info
.info{
	background: rgba(#fff,.45);
	font-size: 18px;
	color: #3a3f3e;
	.superbutton{
		display: none;
		@include respond-to(mob){
			display: inline-block;
		}
	}
}

.info__in{
	text-align: center;
	padding: 10px;
	border-top: 1px solid #3A3F3E;
}
.info__description{
	padding: 10px;
	text-align: center;
	padding: 15px 10px;

	@include respond-to(mob){
		line-height: 1.2;
		text-align: left;
		font-size: 15px;
		padding: 10px;
	}
}
.info__text{
	font-size: 18px;
	@include hl;
	@include respond-to(mob){
		font-size: 12px;
		margin-bottom: 8px;
	}
}
//winners
.winners{
	background-color: #f6f5f1;
	@include respond-to(wide){
		width: 50%;
		float: right;
	}
}
.winners__in{
	padding: 10px 15px 20px;
}
.winners__title{
	text-align: center;
	margin-bottom: .7em;
	font-size: 28px;
	@include hl;
	@include respond-to(wide){
		margin-bottom: 60px;
	}
}
.winners__cols{
	@extend %clr; 
}

.winners__item{
	margin-bottom: 30px;
	vertical-align: top;
	@include respond-to(ipads){
		width: 45%;
		display: inline-block;
		margin-right: 4%;
	}
	@include respond-to(wide){
		width: auto;
		margin-bottom: 35px;
	}
}
.winners__pic{
	float: left;
	margin-right: 30px;
	width: 97px;
	height: 74px;
	img{
		display: block;
		max-width: 100%;
	}
	@include respond-to(mob){
		margin-right: 11px;
	}
}
.winners__info{
	overflow: hidden;
	padding-right: 20px;
}
.winners__name{
	font-size: 24px;
	line-height: 1;
	padding-right: 20px;
	@include hl;
	margin-bottom: .4em;
	@include respond-to(mob){
		font-size: 18px;
	}
}
.winners__text{
	font-size: 14px;
	@include respond-to(mob){
		font-size: 12px;
	}
}
//get-started
.get-started{
	background-color: #434343;
	clear: both;
}
.get-started__in{
	@extend %site;
	padding: 19px 0;
	text-align: center;
}
.get-started__left{
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	margin-right: 35px;
		@include respond-to(mob){
			display: none;
		}
}
.get-started__go{
	display: inline-block;
	vertical-align: middle;
	@include respond-to(wide){
		margin-left: 50px;
	}
	i{
		margin-left: 40px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -11px;
		background-image: url('../img/arrow2x.png');
		width: 86px;
		height: 47px;
		width: 43px;
		height: 24px;
		margin-top: -4px;
		margin-left: 10px;
		@include background-size(100% 100%);
		@include respond-to(mob){
			display: none;
		}
	}
}

.mb{
	display: none;
	text-align: center;
	color: #fff;
	line-height: 1.4;
	@include respond-to(mob){
		display: block;
	}
	font-size: 14px;
	h3{
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 6px;
	}
	.mb__clock{
		width: 163px;
		display: inline-block;
		padding: 14px 0 30px 0;
		margin: 0 auto;
	}
}