// Normally mainpage styles
%site{
	//width: 1536px;
	margin: 0 auto;
	@include respond-to(step1){
		width: auto;
	}
}
// *{
// 	border: 1px solid red;
// }
.btn{
	display: inline-block;
	background-color: #157dfb;
	@include background-image(linear-gradient(top, #157dfb 0%, #157dfb 100%));
	text-align: center;
	border: 0;
	@include hl;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	@include border-radius(7px);
	background-repeat: repeat-x;
	padding: 10px 0;
	width: 100%;
	@include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
	@include respond-to(step1){
		padding: 10px 0;
		font-size: 24px;
		@include border-radius(10px);
	}
	&:hover,
	&:focus{
		background-image: none;
		cursor: pointer;
		text-decoration: none;
		background-color: #1470e0;
		@include background-image(linear-gradient(top, #157dfb 0%, #1470e0 100%));
		@include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
	}
	&:active{
		background-image: none;
		outline: 0;
		@include box-shadow(
			inset 	0 2px 4px rgba(0, 0, 0, 0.15),
					0 1px 2px rgba(0, 0, 0, 0.05)
			);
	}
}
.btn_mod{
	@include respond-to(mob){
		padding-left: 43px;
		padding-right: 43px;
		font-size: 18px;
		height: 38px;
		line-height: 37px;
		padding-top: 0;
		padding-bottom: 0;
	}
	width: auto;
	padding: 8px 30px;
}
//header
.header{
	background: url('../img/back-big.png');
	@include background-size(100% 100%);
	color: #fff;
	@include respond-to(step1){
		background: url('../img/back-s1.png') no-repeat;
		@include background-size(100% 100%);
	}
}
.header__in{
	padding: 10px;
	margin: 0 auto;
	@extend %site;
	@include respond-to(step1){
		padding: 10px 0 1px;
		margin: 0 auto;
	}
}
.header__title{
	text-transform: uppercase;
	text-align: center;
	font-size: 33px;
	@include ar;
	line-height: 1;
	margin-bottom: .5em;
	@include respond-to(step1){
		font-size: 33px;
	}
}
.header__subtitle{
	text-align: center;
	font-size: 32px;
	@include hl;
	line-height: 1;
	margin-bottom: .6em;
	@include respond-to(step1){
		font-size: 32px;
	}
}
.header__cols{
	@extend %clr;
}
.header__left{
	float: left;
	width: 50%;
}
.header__right{
	float: right;
	width: 30%;
	margin-right: 75px;
	padding-top: 22px;
}
.header__image{
	padding-top: 30px;
	@include respond-to(step1){
		padding-top: 12px;
	}
	img{
		max-width: 100%;
	}
}
.header__text{
	text-align: center;
	margin-bottom: .2em;
	font-size: 50px;
	@include hul;
	line-height: 1;
	@include respond-to(step1){
		font-size: 50px;
		margin-bottom: 0.3em;
	}
}
.header__button{
}
.header__info{
}
.header__timer{
	text-align: center;
	margin-bottom: 10px;
	@include respond-to(step1){
		margin-bottom: 0;
	}
	img{
		display: inline-block;
		max-width: 100%;
	}
}
//info
.info{
	background: rgba(255,255,255,.45);
	padding: 10px 0;
	font-size: 18px;
	color: #3a3f3e;
	@include respond-to(step1){
		font-size: 18px;
		padding: 19px 0;
	}
}
.info__row{
	border-bottom: 1px solid #3a3f3e;
}
.info__in{
	@extend %site;
	text-align: center;
	padding: 0 10px;
}
.info__description{
	margin-bottom: 15px;
	padding: 0 16%;
	@include respond-to(step1){
		padding: 0 15%;
		line-height: 1.2;
		margin-bottom: 16px;
	}
}
.info__text{
	margin-top: 20px;
	font-size: 36px;
	@include hl;
	@include respond-to(step1){
		margin-top: 18px;
		font-size: 18px;
	}
}
//winners
.winners{
	background-color: #f6f5f1;
}
.winners__in{
	padding: 20px 15px;
}
.winners__title{
	text-align: center;
	margin-bottom: .7em;
	font-size: 28px;
	@include hl;
}
.winners__cols{
	@extend %clr;
}

.winners__item{
	margin-bottom: 30px;
	display: inline-block;
	@include respond-to(wide){
		width: 45%;
		display: inline-block;
		margin-right: 4%;
	}
}
.winners__pic{
	float: left;
	margin-right: 30px;
	width: 97px;
	height: 74px;
	img{
		display: block;
		max-width: 100%;
	}
	@include respond-to(mob){
		margin-right: 11px;
	}
}
.winners__info{
	overflow: hidden;
	padding-right: 20px;
}
.winners__name{
	font-size: 24px;
	line-height: 1;
	padding-right: 20px;
	@include hl;
	margin-bottom: .4em;
	@include respond-to(mob){
		font-size: 18px;
	}
	
}
.winners__text{
	font-size: 14px;
	@include respond-to(mob){
		font-size: 12px;
	}
}
//get-started
.get-started{
	background-color: #434343;
}
.get-started__in{
	@extend %site;
	padding: 13px 0;
	text-align: center;
	@include respond-to(step1){
		padding: 13px 0;
	}
}
.get-started__left{
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	margin-right: 35px;
		@include respond-to(mob){
			display: none;
		}
}
.get-started__go{
	display: inline-block;
	vertical-align: middle;
	i{
		margin-left: 40px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -11px;
		background-image: url('../img/arrow2x.png');
		width: 86px;
		height: 47px;
		width: 43px;
		height: 24px;
		margin-top: -4px;
		margin-left: 10px;
		@include background-size(100% 100%);
		@include respond-to(mob){
			display: none;
		}
	}
}

.mb{
	display: none;
	text-align: center;
	color: #fff;
	line-height: 1.4;
	@include respond-to(mob){
		display: block;
	}
	font-size: 14px;
	h3{
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 6px;
	}
	.mb__clock{
		width: 150px;
		display: inline-block;
		margin: 14px 0 5px 0;
	}
}